<!doctype html>
<html lang="en" class="govuk-template app-html-class">
  <head>
    <meta charset="utf-8">
    <title>Mock GOV.UK One Login</title>
    <link rel="stylesheet" href="/static/stylesheets/govuk-frontend-5.0.0.min.css">
  </head>
  <body class="govuk-template__body">
    <div class="govuk-width-container">
      <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Mock GOV.UK One Login</h1>

            <form method="post">
              {{ if .Identity }}
                <div class="govuk-form-group">
                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="user-1" name="user" type="radio" value="donor">
                      <label class="govuk-label govuk-radios__label" for="user-1">
                        Sam Smith (donor)
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="user-2" name="user" type="radio" value="certificate-provider">
                      <label class="govuk-label govuk-radios__label" for="user-2">
                        Charlie Cooper (certificate provider)
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="user-3" name="user" type="radio" value="random">
                      <label class="govuk-label govuk-radios__label" for="user-3">
                        Somebody Else (a random person)
                      </label>
                    </div>
                  </div>
                </div>

                <button class="govuk-button" type="submit">Continue with identity</button>
              {{ else }}
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-label--m" for="sub">OneLogin sub</label>
                  <div class="govuk-hint">Sign in using a OneLogin sub (to ignore, leave empty)</div>
                  <input class="govuk-input" type="text" name="sub" id="f-sub" />
                </div>

                <div class="govuk-form-group">
                  <label class="govuk-label govuk-label--m" for="email">Email</label>
                  <div class="govuk-hint">Set email in OneLogin UserInfo (leave empty to set as test email address)</div>
                  <input class="govuk-input" type="text" name="email" id="f-email" />
                </div>

                <button class="govuk-button" type="submit">Sign in</button>
              {{ end }}
            </form>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
